@media(max-width: 1024px) {

    .min-menu-wrapper {
        display: none;
    }

    .logo-wrapper {
        margin-right: 40px; 
        a {
            display: block;
        }
    }

    .logo {
        background: url(../../images/logo.png) 0 0 no-repeat;
        background-size: contain;
        height: 26px;
        width: 170px;
        margin-top: 15px;
    }

    .menu-system {
        padding: 15px 0;
        .menu-item {
            float: left;
            margin-right: 20px;
        }

        @include clearfix;

    }

    .right-edge {
        position: relative;
    }

    .user-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        .menu-user {
            .menu-item {
                float: right;
                margin-left: 10px;
                padding-top: 15px;
                #profile {
                    background: url(../../images/profile.png) 0 0 no-repeat;
                    background-size: cover;
                    margin-top: -7px;
                    border-radius: 50%;
                    height: 41px;
                    width: 41px;
                }
                .blue {
                    color: $blue;
                }

                // #user-dropdown {
                //     -moz-transform: rotate(15deg); /* Для Firefox */
                //     -ms-transform: rotate(15deg); /* Для IE */
                //     -webkit-transform: rotate(15deg); /* Для Safari, Chrome, iOS */
                //     -o-transform: rotate(15deg); /* Для Opera */
                //     transform: rotate(15deg);
                //     height: 10px;
                //     width: 10px;
                // }

                @include clearfix;
            }
        }
    }

    .section-gray {
        background-color: $gray;
        
        .all-girls {
            padding: 15px 0;
            height: 160px;
            overflow: hidden;
            @include forStretch();
            .girl-top {
                float: none;
                margin-bottom: 15px;
                display: inline-block;
                .babe {
                    background-color: #f06eaa;
                    border-radius: 10px;
                    margin: 0;
                    overflow: hidden;
                    img {
                        width: 130px;
                        height: 130px;
                    }
                }
            }
        }
    }

    main {
        padding-top: 25px;
        h1 {
            text-align: center;
            margin-bottom: 0;
        }

        .form-search{
            padding: 25px 0;
            @include forStretch;
            .search-item {
                float: none;
                margin: 0;
                display: inline-block;
                &:last-child {
                    width: 100%;
                    text-align: center;
                }
            }

            .button-search {
                margin-top: 25px;
                display: inline-block;
                border: none;
                width: 170px;
                line-height: 50px;
                background-image: linear-gradient(-45deg, #4e92ff 0%, #376cf8 100%);
                border-radius: 5px;
                text-transform: uppercase;
                color: #fff;
                cursor: pointer;
                &:hover {
                    background: $blue;
                    transition: .8s;
                }
            }

            #gender {
                display: none;
            }
            .wrapper-select {
                position: relative;
                margin: 0 40px 40px 0;
                #select-display {
                    display: block;
                    width: 130px;
                    color: #333;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 32px;
                    border-bottom: 1px solid gainsboro;
                    text-align: left;
                    cursor: pointer;
                }
                .dropdown-select {
                    position: absolute;
                    z-index: 9999;
                    top:31px;
                    width: 130px;
                    height: 60px;
                    overflow: hidden;
                    transition: height 2s;
                    color: #333;

                    &.collapsed {
                        height: 0;
                    }

                    .select-item {
                        cursor: pointer;
                        padding-left: 10px;
                        border-bottom: 1px solid gainsboro;
                        background-color: #f0f0f0;
                        text-align: left;
                        &:hover {
                            background-color: $blue;
                            color: #fff;
                        }
                    }
                }
            }
            #year-max, #year-min {
                display: none;
            }
            .wrapper-range {
                .range {
                    display: inline-block;
                    top: -3px;
                    background: #E0E0E0;
                    background: -moz-linear-gradient(left top, #E0E0E0, #EEEEEE) repeat scroll 0 0 transparent;
                    background: -webkit-gradient(linear, left top, right bottom, from(#E0E0E0), to(#EEEEEE));
                    background: linear-gradient(left top, #E0E0E0, #EEEEEE);
                    width: 180px;
                    height: 2px;
                    position: relative;

                    .range-selected {
                        position: absolute;
                        top: 0;
                        height: 2px;
                        background: $blue;
                        left: 0;
                        right: (156px - 25px);

                        .thumb {
                            position: absolute;
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            top: -5px;
                            background: $blue;
                            cursor: pointer;
                            &:hover {
                                background: blue;
                            }
                            .years {
                                position: absolute;
                                top: 13px;
                                left: -2px;
                            }
                        }

                    }

                    #thumb-min {
                        left: 0;
                    }

                    #thumb-max {
                        right: 0;
                    }
                }

            }
            .wrapper-city {
                position: relative;
                width: 270px;
                input {
                    width: 100%;
                    max-width: 270px;
                    border: none;
                    border-bottom: 1px solid gainsboro;

                    &:focus {
                        outline: none;
                        box-shadow: -1px 2px 1px rgba(0,0,0,0.05);
                        transition: box-shadow .8s;
                    }
                }

                .clear {
                    position: absolute;
                    right: 10px;
                    top: 0;
                    cursor: pointer;
                }

                .cityresult {
                    position: absolute;
                    z-index: 9999;
                    top: 27px;
                    width: 270px;
                    max-height: 248px;
                    .result {
                        &-item {
                            text-align: left;
                            cursor: pointer;
                            padding-left: 10px;
                            border-bottom: 1px solid gainsboro;
                            background-color: #fff;
                            &:hover {
                                background-color: $blue;
                                color: #fff;
                            }
                        }
                        
                        &-no {
                            padding-left: 10px;
                            text-align: left;
                        }
                    }
                }
            }
            
        }

        .more-wrapper {
            position: relative;
            
            .line {
                width: 100%;
                height: 1px;
                background-color: gainsboro;
                margin-bottom: 40px;
            }
            .more-search {
                position: absolute;
                background-color: #fff;
                top: -9px;
                left: 50%;
                margin-left: -100px;
                width: 200px;
                line-height: 17px;
                text-align: center;
                cursor: pointer;
                
                .arrow-down {
                    transform: rotateX(0);
                    transition: 0.5s ease;
                }

                &:hover .arrow-down {
                    animation: 2s ease 0s normal none infinite running bounce;
                }

                .arrow-opened {
                    animation: paused bounce;
                    
                    transform: rotateX(180deg);
                }

                &:hover .arrow-opened{
                    transform: rotateX(180deg);
                    animation: 2s ease 0s normal none infinite running bouncenew;
                }


            }

            .block-addon {
                height: 0;
                overflow: hidden;
                width: 100%;
                font-size: 20px;
                transition: height 0.8s;
                text-align: center;
                span {
                    display: inline-block;
                    padding-top: 40px;
                }

            }

            .more-opened {
                height: 180px;
            }
        }

        .menu-switcher {
            padding-top: 25px;
            .menu-item {
                float: left;
                a {
                    display: block;
                    width: 135px;
                    text-align: center;
                    line-height: 30px;
                    border: 1px solid $blue;
                    color: $blue;
                    font-weight: 600;
                }

                &:hover {
                    a {
                        background: $blue;
                        color: $gray;
                    }
                }

                &:first-child {
                    a{
                        border-radius: 5px 0 0 5px; 
                        border-right: 0;
                    }
                }

                &:last-child {
                    a {
                        border-radius: 0 5px 5px 0;
                        border-left: 0;
                    }
                }
            }

            @include clearfix;
        }

        .list-result {
            margin-top: 20px;
            @include forStretch;
            .errorfound {
                width: 100%;
                text-align: center;
                font-size: 20px;
            }

            .res-item {
                float: none;
                margin: 0;
                display: inline-block;
                width: 32%;
                max-width: 270px;
                .result {
                    border-radius: 10px;
                    background-color: #fff;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    width: 100%;
                    .photo {
                        width: 100%;
                        position: relative;
                        .count-ph {
                            display: block;
                            position: absolute;
                            padding: 6px;
                            top: 10px;
                            left: 10px;
                            background-color: rgba(0, 0, 0, .5);
                            border-radius: 5px;
                            line-height: 14px;
                            max-width: 80px;
                            color: #fff;
                            font-size: 14px;
                            font-weight: 400;
                            &:hover {
                                background-color: #000;
                            }
                        }

                        .top {
                            display: block;
                            position: absolute;
                            padding: 8px;
                            top: 10px;
                            right: 10px;
                            background-color: #ff1e6c;
                            text-transform: uppercase;
                            border-radius: 5px;
                            line-height: 14px;
                            color: #fff;
                            font-size: 14px;
                            font-weight: 400;

                            &-no {
                                display: none;
                            }
                        }

                        img {
                            width: 100%;
                        }
                    }

                    .like-menu {
                        width: 100%;
                        background-image: linear-gradient(-45deg, #4e92ff 0%, #376cf8 100%);
                        .menu-item {
                            width: 50%;
                            float: left;
                             a, .favour-link {
                                display: block;
                                line-height: 40px;
                                color: #fff;
                                text-align: center;
                                font-weight: 400;
                                cursor: pointer;
                                transition: .8s;
                            }

                            &:hover a {
                                transform: scale(1.1);
                            }

                            &:hover .favour-link {
                                transform: scale(1.1);
                            }

                            &:first-child {
                                border-right: 2px solid rgba(256, 256, 256, .2);
                            }
                        }

                        @include clearfix;
                    }

                    .info {
                        p {
                            margin: 0;
                            line-height: 24px;
                            .online {
                                width: 10px;
                                height: 10px;
                                display: inline-block;
                                background-color: #01f501;
                                border-radius: 50%;
                                margin: 0 0 1px 5px;
                                &-no {
                                    display: none;
                                }
                            }
                        }
                        padding: 10px;
                        color: $blue;
                        font-size: 18px;
                        &-city {
                            color: #333;
                            font-size: 14px;
                            font-weight: 400; 
                        }
                    }
                }
            }
        }

        #scroll-top {
            z-index: 9999;
            background: url(../../images/icons/totop.png) 0 0 no-repeat;
            background-size: contain;
            position: fixed;
            bottom: 58px;
            right: 25px;
            width: 50px;
            height: 50px;
            box-shadow: -1px 1px 8px rgba(0,0,0,.25);
            border-radius: 50%;
            text-align: center;
            cursor: pointer;
            font-size: 30px;
            color: $gray;
            &:hover {
                animation: 2s ease 0s normal none infinite running bounce;
            }
        }

        .pagination {
            padding-bottom: 30px;
            .pag-nav {
                margin: 0 auto;
                background-color: #fff;
                border-radius: 5px;

                .page-num {
                    float: left;
                    padding: 5px;
                    a, span {
                        cursor: pointer;
                        display: block;
                        width: 30px;
                        line-height: 30px;
                        text-align: center;
                        color: #999;
                        border-radius: 5px;
                        font-size: 16px;
                        &:hover {
                            background-color: $blue;
                            color: #fff;
                        }
                        &.active {
                            background-color: $blue;
                            color: #fff;
                        }
                        
                    }
                }
            }
        }
    }


    footer{
        padding: 30px 0;
        .menu-bottom {
            margin-bottom: 20px;
            @include forStretch;
            .menu-item {
                float: none;
                margin: 0;
                display: inline-block;
                a {
                    color: #777;
                    line-height: 30px;
                    font-size: 14px;
                    font-weight: 500px;
                    &:hover {
                        color: $blue;
                    }
                } 
            }
            @include clearfix;
        }

        .copyright, .responsibility {
            color: #777;
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            p {
                margin-bottom: 0;
            }
        }

    }
}