body{
    background: #f9f9f9;
}

.wrapper {
    width: 950px;
    height: 100%;
    background: #fff;
    margin: 0 auto; 
    padding: 50px;
    box-shadow: 0 0 10px grey;
    font: 10pt 'Open Sans', sans-serif;
}

/*HEADER */

h1 {
    font: 55px/56px 'Open Sans', sans-serif;
    
}

header ul {
    height: 40px;
    background: url(../img/panel.png) repeat-x;
    margin: 30px 0;
    /*отступы*/
    font-size:0; 
    line-height:0; 
    letter-spacing:-1px;

}

header li {
    display: inline-block;
    text-align: center;
    width: 120px;
    margin: 0;
    font-size: 11pt;
    /*отступы*/
    letter-spacing:normal;
    display: -moz-inline-stack!important;
    display:inline-block;
}

header a {
    display: block;
    color: white;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
    line-height: 40px;
}

header a:hover {
    background: linear-gradient(0deg, #2e2e2e 0%, #4a4a4a 100%)  repeat-x;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

/* section {
    height: 600px;
} */

/*SIDEBAR*/
aside {
    display: inline-block;
    float: left;
}

aside ul {
    width: 240px;
}

aside a{
    display: block;
    line-height: 40px;
    text-decoration: none;
    border: 0.5px solid #c8c8c8;
    padding-left: 55px;
    color: #656363;

}

aside a:hover{
    color: #2c2c2c;
    background-color: #f9f9f9;
    padding-left: 70px; 
}

/*CONTENT*/

article{
    display: inline-block;
    float: right;
    width: 678px;
}

article img {
    padding: 50px 88px;
    border: 1px solid #c8c8c8;
    background: #fff;
}

article p {
    margin: 20px;
    
}

/*FOOTER*/
footer ul {
    height: 40px;
    background: #e1e1e1;
    clear: both;
}

footer li {
    display: inline-block;
    line-height: 40px;
    width: 120px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #2c2c2c;
    
}

footer a:hover {
    text-decoration: underline;
}

.copy {
    float:right;
    width: 240px;
}