

.con_w {
    padding: 0;
    min-width: 280px;
    max-width: 920px;
    text-align: center;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

ul {
    padding: 0;
}

@media(max-width:2000px) { /*768px*/
    .con_w {
        max-width: 728px;
    }
/*TODO: РЕШИТЬ, что лучше - мин видс или макс видс и от этого скакать - начать клепать 768пикс. Доделать бу домашки. ПРОЦЕНТЫ!*/
/*HEADER 768*/
    .header {
        background: url(../img/First-BGtop.jpg) top center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        padding: 45px 0 65px;
    }

    .logo {
        font: 400 48px / 39px "League Gothic";
        text-transform: uppercase;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        color: #fff;
        margin: 0 auto;
        float: left;
        
    }

    .logo_gradiented {
        background: -webkit-linear-gradient(bottom, #322539, #745083);
        background: -o-linear-gradient(bottom, #322539, #745083);
        background: linear-gradient(to top, #322539, #745083);
        -webkit-background-clip: text;    
        color: transparent;
    }

    .link {
        color: #fff;
        font: 400 18px / 24px LeagueGothic;
        float: right;
        text-transform: uppercase;
    }

    .link:hover {
        text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
    }

    .menu {
        display: none;
    }
    
    .menu_nav_top {
        font-size: 24px;
    }
        
        
    .section_head_shad {
        background: rgba(0,0,0,.3);
        height: 400px;
        position: relative;
    }
        
    .img_losung {
        height: 380px;
        width: 267px;
        background: url(../img/bigIphone.png) top center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        float: right;
        margin-top: -25px;
        
    }
        
    .losung {
        text-align: left;
        margin: -82px auto 0;
        width: 280px;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        float: left;
        position: absolute;
        top: 50%
            
    }
    
    .info_losung {
        height: 92px;
        overflow: hidden;
        color: #fff;
        padding: 0;
        margin: 0;
        font: 300 16px / 24px 'Open Sans Light';
    }
    
    .headline {
        font: 400 24px / 24px LeagueGothic;
        text-transform: uppercase;
        text-shadow: 0px 1px 0px #0f1518;
        margin: 0;
    }
    
    .headline_losung {
        color: #fefefe;
        font: 400 48px / 36px LeagueGothic;
        text-transform: capitalize;
    }
    
    .headline_pink {
        color: #edbfff;
        font: 400 24px / 36px LeagueGothic; 
    }
    
    .circles {
        margin: 0 auto;
        width: 111px;
    }
    
    .circle {
        width: 17px;
        height: 17px; 
        display: inline-block;
        background-color: rgba(0,0,0,0.5);
        border-radius: 50%;
        cursor: pointer;
    }
    
    .shaped {
        height: 11px;
        width: 11px; 
        background-color: #fff;
        border-radius: 50%;
        margin: 3px auto;
    }
    
/*SECTION PURPLE 768*/
    
    .section {
        color: #fff;
        background: -webkit-linear-gradient(bottom, #322539, #745083);
        background: -o-linear-gradient(bottom, #322539, #745083);
        background: linear-gradient(to top, #322539, #745083);
        padding: 70px 0 41px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #fff;
/*        text-align: justify;*/
    }
    
/*
    .section_purple:after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 0;
    }
*/
    
    /*Set MEDIUM PROPERTIES*/
    .col {
        width: 202px;
        margin: 0 auto;
        display: inline-block;
/*        margin-left: ;*/
/*        float: left;*/
    }
    
    .few_columns {
        float: left;
    }
/*Растяжение по всей длине */
    .menu_nav_content {
        width: 100%;
        list-style: none;
        margin: 0 auto;
        padding: 20px 0;
        text-align: justify; 
    }
    
    .menu_nav_content:after { 
        content: "";
        display: inline-block;
        width: 100%;
        height: 0;
    }
    
    .menu_item_content {
        float: none;
        margin: 0;
        display: inline-block;
    }
            
    .img_left {
        width: 24px;
        height: 25px;
        background: url(../img/wrench.png) center center no-repeat;
        margin: 0 10px;
        float: left;
    }
    
    .txt_right {
        width: 158px;
        text-align: left;
        float: left;
    }
    
    .txt_purple_height {
        height: 168px;
        overflow: hidden;
    }    
    
    .info {
        font: 300 16px / 24px "Open Sans Light";
        margin: 0;
    }
    
/*SECTION LITE GRAY 768*/
    
    .section_lgray {
        color: #454545;
        background: #f9f9f9;
    }
    
    .col_lgray {
        width: auto;
    }
    
    .txt_white {
        position: relative;
        background-color: #fff;
        padding: 27px 31px 33px 34px;
        width: 250px;
    /*   max-width: 430px;*/
        float: right;
    }
    
    .headline_client {
        font: 400 24px / 24px LeagueGothic;
        text-shadow: none;
    }
    
    .img_client {
        width: 49px;
        height: 49px;
        background: url(../img/client.png) center center no-repeat;
        margin: 0;
        position: absolute;
        top: 0;
        left: -20px;
    }
    
    .info_comment {
        overflow: hidden;
        width: 251px;
        height: 144px;
    }
    
    .circle_white {
        background-color: #fff;
        width: 16px;
        height: 16px;
        border: 1px solid #000; /*TO PLACE a needed color*/
    }
    
    .shaped_black {
        background-color: #000; /*To place a needed color*/
        margin: 2px;
        height: 12px;
        width: 12px;
    }
        
    .col_width_upd {
/*        width: 74%;*/
        width: 322px;
        margin: 0 auto;
        overflow: hidden;
    }
        
    .headline_upd {
        font: 400 30px / 24px LeagueGothic;
        float: left;
    }
    
    .col_upd {
        width: 322px;
        text-align: left;
        margin-bottom: 20px;
    }
    
    .img_upd {
        width: 49px;
        height: 49px;
        margin: 0 15px 0 0;
        background: url(../img/Layer-1.png) center center no-repeat;
    
    }
    
    .info_headline {
        font-family: "Open Sans Extrabold";
        width: 258px;
        overflow: hidden;
        height: 24px;
    }
    
    .info_upd {
        width: 258px;
        overflow: hidden;
        height: 24px;
    }
    
    .link_black {
        color: #454545;
    }
    
    .link_black:hover {
        text-shadow: 0 0 8px rgba(69,69,69,.8);
    }
    
/*SECTION WITH LOGOES 768*/
    .col_fullwidth {
        width: 100%;
    }
    
    .wrapper_logo {
/*        width: 30%;*/
/*        display: inline-block;*/
        text-align: center;
    }
    
    .img_logo {    
        margin: 0 auto;
    }
    
    .img_logo_1 {
        background: url(../img/logos/Logo1-2.png) 0 0 no-repeat;
        height: 64px;
        width: 70px;
    }
    
    .img_logo_2 {
        background: url(../img/logos/Logo1-2.png) -76px 0 no-repeat;
        height: 64px;
        width: 70px;
    }
    
    .img_logo_3 {
        width: 65px;
        height: 65px;
        background: url(../img/logos/Logo4.png) center center no-repeat;
        
    }
    
    .img_logo_4 {
        background: url(../img/logos/Logo3.png) center center no-repeat;
        width: 50px;
        height: 65px;
    }
    
    .img_logo_5 {
        background: url(../img/logos/Logo5.png) center center no-repeat;
        width: 103px;
        height: 61px;
    }
    
    .img_logo_6 {
        background: url(../img/logos/Logo6.png) center center no-repeat;
        width: 78px;
        height: 61px;
    }
    
/*GRAY SECTION 768*/
    
    .section_gray {
        color: #787878;
        background: #ececec;
        /* display: none; */
    }
        
    .txt_gray_sec {
        width: 207px;
        height: 192px;
        overflow: hidden;
        float: left;
    }
    
/*FOOTER 768 Not done*/
    
    .footer {
        background: url(../img/First-BGfoot.jpg) bottom center no-repeat;
        background-size: auto;
        color: #fff;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
        text-align: center;
    }
    
    .info_footer {
        padding-bottom: 30px;
        display: block;
        font: 300 12px / 33.724px "Open Sans Light";
        float: right;
    }
    
    .menu_nav {
        width: 100%;
        list-style: none;
        margin: 0 auto;
        padding: 20px 0;
        float: left;
    }
    
    .menu_nav_item {
        float: left;
        margin-left: 2.5%;
    }
    
    .menu_nav_item_l_ex {
        margin-left: 0;
    }
        
    .menu_nav_item_r_ex {
        margin-right: 0;
    }
    
    .link_foot_nav {
        font-size: 20px;  
    }
    
    .link_footer {
    float: none;
    text-transform: none;
    font: 700 12px / 33.724px "Open Sans Extrabold";
    }
    /*TODO 25.09:
        1. Do the biggest des
        2. in little med queries add styleattributes to do good look for page
        3. Изменит мах видс на мин видс
        4. PP
        5. Купить зарядку для телефна
        6. Договориться с мастером
        7. Квартира Красноармейск определиться
        8. Джинсы купить
        9. Бельчоне позвонить узнать цвет и выбрать дерево
        10. куча всего. Вспоминай
    */
    
} /*End of media 768px*/


@media(max-width:480px) { /*480px*/
    .con_w {
        max-width: 440px;
        /* padding: 0 20px; */
    }
/*HEADER 480*/    
    .header {
        background: url(../img/First-BGtop.jpg) top center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        padding: 45px 0 65px;
    }

    .logo {
        font: 400 48px / 33.724px "League Gothic";
        text-transform: uppercase;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        color: #fff;
        margin: 0 auto;
        float: none;
    }

    .logo_gradiented {
        background: -webkit-linear-gradient(bottom, #322539, #745083);
        background: -o-linear-gradient(bottom, #322539, #745083);
        background: linear-gradient(to top, #322539, #745083);
        -webkit-background-clip: text;    
        color: transparent;
    }

    .link {
        color: #fff;
        font: 400 18px / 24px LeagueGothic;
        float: right;
        text-transform: uppercase;
    }

    .link:hover {
        text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
    }

    .link_home {
        display: inline-block;
        width: 47px;
        font: 400 24px / 33.724px LeagueGothic;
        padding: 4px 0;
        border-bottom: 2px solid #edbfff;
        margin: 0 auto;
        float: none; 
        border-top: 1px solid transparent;
    }

/*Submenu*/ /*NEED 2 DO AN INNER GLOW FOR iTEMS*/
    .menu {
        display: block;
        text-align: center;
        background: transparent;
        list-style: none;
        width: 246px;
        margin: 0 auto;
        position: relative;
    /*    border-radius: 12px*/
    }

    .menu>li:hover>.link_home {
        display: block;
        width: 246px;
        border-radius: 12px 12px 0 0;
        border-color: transparent;
        background: rgba(54,41,62,.5);
        border-top: 1px solid #000;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
    }

    .menu>li:hover>.link_home:hover {
        background: rgba(54,41,62,.9);
        border-bottom: 2px solid #edbfff;
    }

    .submenu_link {
        display: block;
        line-height: 39px;
        width: 246px;
        text-align: center;
        border-bottom: 2px solid transparent;
        font: 400 24px / 33.724px LeagueGothic;
        padding: 4px 0;
        border-top: 1px solid rgba(237,191,255,.3);
        border-bottom: 1px solid rgba(54,41,62,.9);
    }

    .submenu_link:hover {
        background: rgba(54,41,62,.9);
        border-color: #edbfff;
        border-top: 1px solid rgba(237,191,255,.3);
    }

    .menu_submenu {
        background: rgba(54,41,62,.5);
        display: none;
        position: absolute;
        top: 44px;
        left: 0;
        z-index: 2;
        border-radius: 0 0 12px 12px;
        border-bottom: 1px solid #000;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
    }

    .menu>li:hover>.menu_submenu{
        display: block;
    }

    .link_sub_last {
        border-radius: 0 0 12px 12px;
    }
    
/*/Submenu 480*/
    
    .menu_nav_top {
        display: none;
    }
     /* TODO:
    Добавить хуетень, которая создаст засерение фона. В остальном - в код добавить картинку, что будет убираться на 320 и увеличить место под блоки . И послать остальное нахер А! ЕЩЕ ВС₴ В ПРОЦЕНТАХ УЖЕ. Это 320 минимальный. здесь же уже пойдет резиновое уменьшение до 320. И разобраться с хренотенью, почему при ширине обертки в 320, а не в 303 появляется пустой правый маргин в -17пикселей. Решить. Верстать. Жить. А то уже третью неделю не выхожу из дома раньше полуночи - пора, dude*/
        
        
        
    .section_head_shad {
        background: rgba(0,0,0,.3);
        height: 249px;
        position: relative;
    }
        
    .img_losung {
        height: 261px;
        width: 192px;
        background: url(../img/Iphone.png) top center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        float: right;
        margin-top: -6px;
        
    }
        
    .losung {
        text-align: left;
        margin: -24px auto 0;
        width: 202px;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        float: left;
        position: absolute;
        top: 50%
            
    }
    
    .headline {
        font: 400 24px / 24px LeagueGothic;
        text-transform: uppercase;
        text-shadow: 0px 1px 0px #0f1518;
        margin: 0;
    }
    
    .headline_losung {
        color: #fefefe;
        font: 400 36px / 24px LeagueGothic;
        text-transform: capitalize;
    }
    
    .info_losung {
        display: none;
    }
    
    .headline_pink {
        color: #edbfff;
        font: 400 18px / 24px LeagueGothic;    
    }
    
    .circles {
        margin: 0 auto;
        width: 111px;
    }
    
    .circle {
        width: 17px;
        height: 17px; 
        display: inline-block;
        background-color: rgba(0,0,0,0.5);
        border-radius: 50%;
        cursor: pointer;
    }
    
    .shaped {
        height: 11px;
        width: 11px; 
        background-color: #fff;
        border-radius: 50%;
        margin: 3px auto;
    }  
/*SECTION PURPLE 480*/
    
    .section {
        color: #fff;
        background: -webkit-linear-gradient(bottom, #322539, #745083);
        background: -o-linear-gradient(bottom, #322539, #745083);
        background: linear-gradient(to top, #322539, #745083);
        padding: 70px 0 41px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #fff;
    }
    
    /*Set MEDIUM PROPERTIES*/
    .col {
        width: 440px;
        margin: 0 auto;
    }
    
    
    .img_left {
        width: 24px;
        height: 25px;
        background: url(../img/wrench.png) center center no-repeat;
        margin: 0 20px;
        float: left;
    }
    
    .txt_right {
        width: 365px;
        text-align: left;
        float: left;
    }
    
    .txt_purple_height {
        height: 96px;
        overflow: hidden;
    }    
    
    .info {
        font: 300 16px / 24px "Open Sans Light";
        margin: 0;
    }
    
/*TODO20.09:
    НИКОГДА БОЛЬШЕ ТАК НЕОЖИДАННО НЕ УДАЛЯТЬ ^^ Изменить положение новостей. Изменить тексты, подкорректировать текст отзыва - вместо быров просто пробелы применить в отзыве оверфлоу не ко всему ткстрайту а только к инфику. сделать то же самое пёрплу. изменить отображение логосов. Нарисовать грей хрень. Изменить всю пиксельность на процентность (Но только в ширине). Дорисовать нижнее меню футера. В 320 где надо расставить дисплей нон и бг нон. Перенести 320 медиа вниз. Найти квартиру в красноармейске*/
    
/*SECTION LITE GRAY 480*/
    
    .section_lgray {
        color: #454545;
        background: #f9f9f9;
    }
    
    .txt_white {
        position: relative;
        background-color: #fff;
        padding: 27px 31px 33px 34px;
        min-width: 180px;
    /*   max-width: 430px;*/
        float: right;
    }
    
    .headline_client {
        font: 400 24px / 24px LeagueGothic;
        text-shadow: none;
    }
    
    .img_client {
        width: 49px;
        height: 49px;
        background: url(../img/client.png) center center no-repeat;
        margin: 0;
        position: absolute;
        top: 0;
        left: -20px;
    }
    
    .circle_white {
        background-color: #fff;
        width: 16px;
        height: 16px;
        border: 1px solid #000; /*TO PLACE a needed color*/
    }
    
    .shaped_black {
        background-color: #000; /*To place a needed color*/
        margin: 2px;
        height: 12px;
        width: 12px;
    }
        
    .col_width_upd {
        width: 74%;
        margin: 0 auto;
        overflow: hidden;
    }
        
    .headline_upd {
        font: 400 30px / 24px LeagueGothic;
        float: left;
    }
    
    .col_upd {
        text-align: left;
        margin-bottom: 20px;
    }
    
    .img_upd {
        width: 49px;
        height: 49px;
        margin: 0 15px 0 0;
        background: url(../img/Layer-1.png) center center no-repeat;
    
    }
    
    .info_headline {
        font-family: "Open Sans Extrabold";
        width: 258px;
        overflow: hidden;
        height: 24px;
    }
    
    .info_upd {
        width: 258px;
        overflow: hidden;
        height: 24px;
    }
    
    .link_black {
        color: #454545;
    }
    
    .link_black:hover {
        text-shadow: 0 0 8px rgba(69,69,69,.8);
    }
    
/*SECTION WITH LOGOES 480*/
    
    .wrapper_logo {
        width: 30%;
        display: inline-block;
        text-align: center;
    }
    
    .img_logo {    
        margin: 0 auto;
    }
    
    .img_logo_1 {
        background: url(../img/logos/Logo1-2.png) 0 0 no-repeat;
        height: 64px;
        width: 70px;
    }
    
    .img_logo_2 {
        background: url(../img/logos/Logo1-2.png) -76px 0 no-repeat;
        height: 64px;
        width: 70px;
    }
    
    .img_logo_3 {
        width: 65px;
        height: 65px;
        background: url(../img/logos/Logo4.png) center center no-repeat;
        
    }
    
    .img_logo_4 {
        background: url(../img/logos/Logo3.png) center center no-repeat;
        width: 50px;
        height: 65px;
    }
    
    .img_logo_5 {
        background: url(../img/logos/Logo5.png) center center no-repeat;
        width: 103px;
        height: 61px;
    }
    
    .img_logo_6 {
        background: url(../img/logos/Logo6.png) center center no-repeat;
        width: 78px;
        height: 61px;
    }
    
/*GRAY SECTION 480*/
    
    .section_gray {
        color: #787878;
        background: #ececec;
        /* display: none; */
    }
        
    .txt_gray_sec {
        width: 100%;
        height: 116px;
        overflow: hidden;
    }
    
/*FOOTER 480*/
    
    .footer {
        background: url(../img/First-BGfoot.jpg) bottom center no-repeat;
        background-size: auto;
        color: #fff;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
        text-align: center;
    }
    
    .info_footer {
        padding: 40px 0;
        display: block;
        font: 300 12px / 33.724px "Open Sans Light";
        margin: 0 auto;
    }
    
    .menu_nav {
        width: 100%;
        list-style: none;
        margin: 0 auto;
        padding: 20px 0;
        text-align: justify; /*Растяжение по всей длине*/
        float: none;
    }
    
    .menu_nav:after { /*Для растяжения по длине*/
        content: "";
        display: inline-block;
        width: 100%;
        height: 0;
    }
    
    .menu_nav_item {
        float: none;
        margin: 0;
        display: inline-block;
    }
    
    .menu_nav_item_l_ex {
        margin: 0;
    }
        
    .menu_nav_item_r_ex {
        margin: 0;
    }
    
    .link_foot_nav {
        font-size: 20px;  
    }
    
    .link_footer {
    float: none;
    text-transform: none;
    font: 700 12px / 33.724px "Open Sans Extrabold";
    }
    
}/*End of media 480px*/

@media(max-width:320px) {
    .con_w {
        min-width: 280px;
        padding: 0;
        /* padding: 0 20px; */
    }
    
/*HEADER 320*/
    .header {
        background: url(../img/First-BGtop.jpg) top center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        padding: 45px 0 65px;
    }

    .logo {
        font: 400 48px / 33.724px "League Gothic";
        text-transform: uppercase;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        color: #fff;
        margin: 0 auto;
        float: none;
    }

    .logo_gradiented {
        background: -webkit-linear-gradient(bottom, #322539, #745083);
        background: -o-linear-gradient(bottom, #322539, #745083);
        background: linear-gradient(to top, #322539, #745083);
        -webkit-background-clip: text;    
        color: transparent;
    }

    .link {
        color: #fff;
        font: 400 18px / 24px LeagueGothic;
        float: right;
        text-transform: uppercase;
    }

    .link:hover {
        text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
    }

    .link_home {
        display: inline-block;
        width: 47px;
        font: 400 24px / 33.724px LeagueGothic;
        padding: 4px 0;
        border-bottom: 2px solid #edbfff;
        margin: 0 auto;
        float: none; 
        border-top: 1px solid transparent;
    }


/*Submenu 320*/ /*NEED 2 DO AN INNER GLOW FOR iTEMS*/
    
    .menu {
        display: block;
        text-align: center;
        background: transparent;
        list-style: none;
        width: 246px;
        margin: 0 auto;
        position: relative;
    /*    border-radius: 12px*/
    }

    .menu>li:hover>.link_home {
        display: block;
        width: 246px;
        border-radius: 12px 12px 0 0;
        border-color: transparent;
        background: rgba(54,41,62,.5);
        border-top: 1px solid #000;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
    }

    .menu>li:hover>.link_home:hover {
        background: rgba(54,41,62,.9);
        border-bottom: 2px solid #edbfff;
    }

    .submenu_link {
        display: block;
        line-height: 39px;
        width: 246px;
        text-align: center;
        border-bottom: 2px solid transparent;
        font: 400 24px / 33.724px LeagueGothic;
        padding: 4px 0;
        border-top: 1px solid rgba(237,191,255,.3);
        border-bottom: 1px solid rgba(54,41,62,.9);
    }

    .submenu_link:hover {
        background: rgba(54,41,62,.9);
        border-color: #edbfff;
        border-top: 1px solid rgba(237,191,255,.3);
    }

    .menu_submenu {
        background: rgba(54,41,62,.5);
        display: none;
        position: absolute;
        top: 44px;
        left: 0;
        z-index: 2;
        border-radius: 0 0 12px 12px;
        border-bottom: 1px solid #000;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
    }

    .menu>li:hover>.menu_submenu{
        display: block;
    }

    .link_sub_last {
        border-radius: 0 0 12px 12px;
    }





/*/Submenu 320*/
    
    .menu_nav_top {
        display: none;
    }

    .section_head_shad {
        background: transparent;
    }
        
    .img_losung {
        display: none;
    }
    
    .losung {
        position: static;
        float: none;
        text-align: left;
        margin: 0 auto;
        width: 202px;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .headline {
        font: 400 24px / 24px LeagueGothic;
        text-transform: uppercase;
        text-shadow: 0px 1px 0px #0f1518;
        margin: 0;
    }

    .headline_losung {
        color: #fefefe;
        font: 400 36px / 24px LeagueGothic;
        text-transform: capitalize;
    }

    .info_losung {
        display: none;
    }
    
    .headline_pink {
        color: #edbfff;
        font: 400 18px / 24px LeagueGothic;    
    }

    .circles {
        margin: 0 auto;
    }

    .circle {
        width: 17px;
        height: 17px; 
        display: inline-block;
        background-color: rgba(0,0,0,0.5);
        border-radius: 50%;
        cursor: pointer;
    }

    .shaped {
        height: 11px;
        width: 11px; 
        background-color: #fff;
        border-radius: 50%;
        margin: 3px auto;
    }

/*SECTION PURPLE 320*/

    .section {
        color: #fff;
        background: -webkit-linear-gradient(bottom, #322539, #745083);
        background: -moz-linear-gradient(bottom, #322539, #745083);
        background: -o-linear-gradient(bottom, #322539, #745083);
        background: -ms-linear-gradient(bottom, #322539, #745083);
        background: linear-gradient(to top, #322539, #745083);
        padding: 70px 0 41px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #fff;
    }

    /*Set MEDIUM PROPERTIES*/
    .col {
        width: 280px;
        margin: 0 auto;
    }


    .img_left {
        width: 24px;
        height: 25px;
        background: url(../img/wrench.png) center center no-repeat;
        margin: 0 20px;
        float: left;
    }

    .txt_right {
        width: 197px;
        text-align: left;
        float: left;
    }

        .txt_purple_height {
            height: 96px;
            overflow: hidden;
        }    

    .info {
        font: 300 16px / 24px "Open Sans Light";
        margin: 0;
    }



/*SECTION LITE GRAY 320*/

    .section_lgray {
        color: #454545;
        background: #f9f9f9;
    }

    .txt_white {
        position: relative;
        background-color: #fff;
        padding: 27px 31px 33px 34px;
        min-width: 180px;
    /*   max-width: 430px;*/
        float: right;
    }

    .headline_client {
        font: 400 24px / 24px LeagueGothic;
        text-shadow: none;
    }

    .img_client {
        width: 49px;
        height: 49px;
        background: url(../img/client.png) center center no-repeat;
        margin: 0;
        position: absolute;
        top: 0;
        left: -20px;
    }

    .circle_white {
        background-color: #fff;
        width: 16px;
        height: 16px;
        border: 1px solid #000; /*TO PLACE a needed color*/
    }

    .shaped_black {
        background-color: #000; /*To place a needed color*/
        margin: 2px;
        height: 12px;
        width: 12px;
    }

    .headline_upd {
        font: 400 30px / 24px LeagueGothic;
        float: left;
    }

    .col_upd {
        text-align: left;
        margin-bottom: 20px;
    }

    .img_upd {
        width: 49px;
        height: 49px;
        margin: 0 15px 0 0;
        background: url(../img/Layer-1.png) center center no-repeat;

    }

     .info_headline {
        font-family: "Open Sans Extrabold";
        width: 200px;
        overflow: hidden;
        height: 24px;
    }
    
    .info_upd {
        width: 216px;
        overflow: hidden;
        height: 24px;
    }
/*TODO 21.09 ЧЕРТОВЫ РАЗМЕРЫ!! ОСОБЕННО У РИСЕНТ НЬЮС! И ПОРА НЕКСТ ДЕЗИГНЫ ВЕРСТАТЬ*/

    .link_black {
        color: #454545;
    }

    .link_black:hover {
        text-shadow: 0 0 8px rgba(69,69,69,.8);
    }

/*SECTION WITH LOGOES 320*/

    .wrapper_logo {
        width: 40%;
        display: inline-block;
        text-align: center;
    }

    .img_logo {    
        margin: 0 auto;
    }

    .img_logo_1 {
        background: url(../img/logos/Logo1-2.png) 0 0 no-repeat;
        height: 64px;
        width: 70px;
    }

    .img_logo_2 {
        background: url(../img/logos/Logo1-2.png) -76px 0 no-repeat;
        height: 64px;
        width: 70px;
    }

    .img_logo_3 {
        width: 65px;
        height: 65px;
        background: url(../img/logos/Logo4.png) center center no-repeat;

    }

    .img_logo_4 {
        background: url(../img/logos/Logo3.png) center center no-repeat;
        width: 50px;
        height: 65px;
    }

    .img_logo_5 {
        background: url(../img/logos/Logo5.png) center center no-repeat;
        width: 103px;
        height: 61px;
    }

    .img_logo_6 {
        background: url(../img/logos/Logo6.png) center center no-repeat;
        width: 78px;
        height: 61px;
    }

/*GRAY SECTION 320*/

    .section_gray {
        display: none;
    }

/*FOOTER 320*/

    .footer {
        background: url(../img/First-BGfoot.jpg) bottom center no-repeat;
        background-size: auto;
        color: #fff;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    }

    .menu_nav {
        display: none;    
    }
    
    .info_footer {
        padding: 40px 0;
        display: block;
        font: 300 12px / 33.724px "Open Sans Light";
        margin: 0 auto;
    }

    .link_footer {
        float: none;
        text-transform: none;
        font: 700 12px / 33.724px "Open Sans Extrabold";
    }

}/*End of media 320px*/
