body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    background: #f2f2f2;
    font-family: Arial;
}

.center {
    text-align:center;
}

h1 {
    text-transform: uppercase;
    padding-top: 0.5em;
    margin-top: 0;    
}

img {
    width: 200px;
    height: 200px;
    border: 1px solid;
}

.whoami {
    color: rgba(31, 31, 31, 0.8);
}

hr {
    height: 0.5px;
    border: none;  
}

.firstline {
    background-color: #CAC8C6;
}

.secline {
    background-color: #D3DBD7;
}

.thline {
    background-color: #CFC9CA;

}

.paragraph {
    width: 41.5%;
    margin: 0 auto;
    text-align: left;
}

.intxt {
    padding-left: 40px;
}